// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.letters {
  display: flex;
  font-size: 24px;
  margin: 0 auto;
}
.container {
  padding: 60px 0;
  text-align: center;
}
.letter {
  text-align: center;
  width: 30px;
  padding: 20px;
  margin: 0 auto;
  background-color: lightblue;
  box-shadow: 1px 5px 10px grey;
}

#form {
  font-size: 24px;
  padding: 30px;
}
